<a href="https://colab.research.google.com/github/CLEPyLadies/SQLitePython/blob/main/SQLitePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries

import sqlite3 as db

*   We can connect to an existing, or create a new one if it does not exist.
*   The SQLite keeps the database as a file with the `.db` extension

In [ ]:
conn = db.connect('Customer_DB.db')



*   To interact with our database, we have to create a cursor.
*   Cursor is used to excute statments to communicate with the database.
*   We will use the cursor to issue commands that will allow us to query or modify our database.

In [ ]:
cur = conn.cursor()

# 1 - Create

In [ ]:
## Create a Table 

cur.execute("CREATE TABLE customers_table (first_name DATATYPE, last_name DATATYPE , email DATATYPE DATATYPE)")

DataTypes:
Text
Null
Int
Blob

In [ ]:
## another was by using """Doc String"
cur.execute("""CREATE TABLE customers_table (
                      first_name text,
                      last_name text,
                      email text
            )""")

OperationalError: ignored

In [ ]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [ ]:
## To show the results
cur.fetchall()

[('customers_table',)]

# 2 - Insert

In [ ]:
## Singl insert

cur.execute("INSERT INTO customers_table VALUES ('Sam', 'Brown', 'sam@brown.com')")
cur.execute("INSERT INTO customers_table VALUES ('Steph', 'Kuewa', 'steph@kuewa.com')")
cur.execute("INSERT INTO customers_table VALUES ('Dan', 'Pas', 'dan@pas.com')")

In [ ]:
### Insert Many
## To insert many as list and using `executemany()` command

new_customers = [
					('John', 'Doe', 'john@doe.com'), 
					('Jason', 'Hale', 'steph@hale.com'), 
					('Sam', "Billing", 'sam@billing.com'),
				]

cur.executemany("INSERT INTO customers_table VALUES (?,?,?)", new_customers)

# 3 - Select

In [ ]:
## Query the DB

cur.execute("SELECT * FROM customers_table;")
cur.fetchone()
cur.fetchmany()
cur.fetchall()

In [ ]:
## another way to insert:
q = """INSERT INTO customers_table VALUES (?,?,?)"""

cur.executemany(q, new_customers)

# Where

In [ ]:
## Lookup with Where

q = """SELECT * FROM customers_table where first_name = 'Sam' """

cur.execute(q)
cur.fetchall()

[('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Billing', 'sam@billing.com'),
 ('Sam', 'Brown', 'sam@brown.com')]

In [ ]:
q = """ 
        SELECT * FROM customers_table 
        where first_name = 'Sam' 
              and last_name = 'Billing' 
        """

cur.execute(q)
cur.fetchall()

[('Sam', 'Brown', 'sam@brown.com')]

#Update

In [ ]:
update_query = """ UPDATE customers_table SET first_name = 'Engy' WHERE last_name = 'Billing' """

cur.execute(update_query)

[]

In [ ]:
cur.execute(""" Select * from customers_table where last_name = 'Billing' """)

cur.fetchall()

[('Engy', 'Billing', 'sam@billing.com'),
 ('Engy', 'Billing', 'sam@billing.com'),
 ('Engy', 'Billing', 'sam@billing.com'),
 ('Engy', 'Billing', 'sam@billing.com'),
 ('Engy', 'Billing', 'sam@billing.com'),
 ('Engy', 'Billing', 'sam@billing.com'),
 ('Engy', 'Billing', 'sam@billing.com'),
 ('Engy', 'Billing', 'sam@billing.com')]

# DELETE

In [ ]:
## Delete Record from table

cur.execute("DELETE from customers_table WHERE rowid = '1'")

In [ ]:
## Delet all records
cur.execute("DELETE  from customers_table ")

In [ ]:
cur.execute(""" Select * from customers_table """)

cur.fetchall()

[]

# Commit()

*   List item
*   List item


All our changes are trmprory, to Save your changes into the db we need to use `commit()` command other wise they will be lost once we close our connection.

In [ ]:
conn.commit()

Update Table

# Drop Table

In [ ]:
#DROP TABLE table_name;
cur.execute("DROP TABLE customers_table;")

In [ ]:
cur.close()
conn.close()

# SQLite and Pandas

#Pandas 
* Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

* Pandas has a ready sql query method that will allow you to return the data as a Dataframe, where we can easly manipulate it.

In [ ]:
import pandas as pd

In [ ]:

con = db.connect('Customer_DB.db')
df_customers = pd.read_sql_query("SELECT * FROM customers_table;", con)

In [ ]:
df_customers

  first_name last_name            email
0        Sam     Brown    sam@brown.com
1      Steph     Kuewa  steph@kuewa.com
2        Dan       Pas      dan@pas.com

In [ ]:
df_new = df_customers[:-1]

In [ ]:
df_new

  first_name last_name            email
0        Sam     Brown    sam@brown.com
1      Steph     Kuewa  steph@kuewa.com

In [ ]:
df_new.to_sql("customers_table", con, if_exists="replace")## append

In [ ]:
pd.read_sql_query ('select * from customers_table', con)

   index first_name last_name            email
0      0        Sam     Brown    sam@brown.com
1      1      Steph     Kuewa  steph@kuewa.com

# SQLite + Pandas + CSV

In [ ]:
#@title Save DF to a csv

df_new.to_csv('customer_csv.csv', index=False)
df_new

  first_name last_name            email
0        Sam     Brown    sam@brown.com
1      Steph     Kuewa  steph@kuewa.com

In [ ]:
#@title Read CSV

my_csv = pd.read_csv("customer_csv.csv")
my_csv

In [ ]:
#@title Push dataframe to sql 
my_csv.to_sql("my_csv_data", conn, if_exists="replace") ## or append

In [ ]:
con.close()

In [ ]:
#end of notebook